.background {
    background-image: linear-gradient(#6D6C6C, #222121);
    min-height: 100vh;
    background-size: 1000000% 1000000%;
    animation: move 7s alternate infinite;
}

@keyframes move {
    from {
        background-position: 0%;
    }


    to {
        background-position: 100% 100%;
    }
}

.csetliColor {
    background: linear-gradient(to right, #FD0303ff, #D95E2Eff);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

.icon {
    width: 50px;
    margin: 10px;
}

.navbar {
    background: linear-gradient(to right, #FD0303ff, #D95E2Eff);
    ;
}

.bombo {
    border: solid #52bdd0;
    border-radius: 45px;
    background-color: #16b5d1;
}


.jelszo {
    width: 350px;
    text-align: center;
}

.felhNev {
    height: 40px;
}

.nyelv {
    width: 17rem;
}

.kor {
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, white);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.accDelete{
    color: rgba(180, 11, 11, 0.521);
}